div {
    display: flex;
    flex-direction: row;
    background-color: #e7ecef;
    margin: 10px;
    padding: 20px;
    position: sticky;
    height: 20dvh;
}

img {
    object-fit: cover;
    margin-right: 20px;
    border-radius: 20px;
    border: 4px solid #001219;
}

p {
    margin: 0;
    color: #001219;
}